.score-row{
  padding:1rem;
  font-family: 'munro', 'courier', monospace, sans-serif;
}
.score {
  font-size: 5rem;
}
.username{
  font-size: 3rem;
}

.leaderboard-spacer{
  margin-top:5rem;
}

.leaderboard{
  color:green;
  background-color: black;
}
