html,
body {
  height: 100%;
}

.settings {
  display: none;
  z-index: 1;
  background: white;
  position: absolute;
  width: 100%;
  top: 100px;
}

.game-area {
  /* background: url(/img/Gamescreen-layout_01.jpg); */
  background-position: top center;
  height: 100%;
  background-color: #fceeef;
  position: relative;
}

#board {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 390px;
}

.toolbar {
  height: 100px;
  background-color: #9ea8bf;
  text-align: center;
  color: white;
  padding-top: 40px;
}

.toolbar a {
  color: white;
}

.toolbar button {
  position: absolute;
  right: 30px;
  top: 35px;
}

.avatar-chunk {
  position: absolute;
  left: 50%;
  line-height: 60px;
  color: #9ea8bf;
}

.rock-avatar {
  top: 190px;
  padding-left: 80px;
}

.dance-avatar {
  top: 870px;
  padding-right: 80px;
  left: auto;
  right: 50%;
}

.dance-avatar .avatar-icon {
  left: auto;
  right: 0;
}

.avatar-icon {
  background-color: #9ea8bf;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}

.bants-wrapper {
  background-color: #9ea8bf;
  position: absolute;
  width: 250px;
  height: 160px;
  display: none;
  color: white;
  font-size: 18px;
  padding: 10px;
}

.bants-wrapper.rock-bants {
  top: 450px;
  left: 10%;
}

.bants-wrapper.rock-bants:after {
  content: '';
  height: 0;
  border-style: solid;
  border-width: 0 0 30px 30px;
  border-color: transparent transparent #9ea8bf transparent;
  top: -30px;
  position: absolute;
  right: 30px;
}

.bants-wrapper.dance-bants {
  top: 550px;
  right: 10%;
}

.bants-wrapper.dance-bants:after {
  content: '';
  height: 0;
  border-style: solid;
  border-width: 30px 30px 0 0;
  border-color: #9ea8bf transparent transparent transparent;
  bottom: -30px;
  position: absolute;
  left: 30px;
}

.bants-wrapper.FM {
  background-image: url(/img/chesspieces/rockstars/freddie_sad_chess.png);
  background-position: center;
  background-repeat: no-repeat;
}

.bants-wrapper.DB {
  background-image: url(/img/chesspieces/rockstars/bowie_icon_chess.png);
  background-position: center;
  background-repeat: no-repeat;
}

.bants-wrapper.OH {
  background-image: url(/img/chesspieces/danceheroes/oliverheldens_icon_chess.png);
  background-position: center;
  background-repeat: no-repeat;
}

.bants-wrapper.Bjork {
  background-image: url(/img/chesspieces/danceheroes/tmp_bjork.png);
  background-position: center;
  background-repeat: no-repeat;
}
