@font-face {
	font-family: 'munro';
	src: url('../fonts/munro/Munro.ttf');
}

html,
body {
  height: 100%;
  font-family: 'munro', 'courier', monospace, sans-serif;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
  font-family: 'munro', 'courier', monospace, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: inherit
}

.settings {
  display: none;
  z-index: 1;
  background: white;
  position: absolute;
  width: 100%;
  top: 0;
  padding-bottom: 60px;
  background-color: #ddd;
  padding: 15px;
  border: 4px dashed black;
}

.game-area {
  height: 100%;
  position: relative;
  background-image: url(../img/environment/Gamescreen-environment_04.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-color: black;
}

#board {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 303px;
}

#board [data-square] {
  background: none;
}

#board > div > div {
  border: 0;
}

.toolbar {
  font-family: 'munro', 'courier', monospace, sans-serif;
  height: 60px;
  background-color: black;
  color: white;
}

.toolbar .container {
  position: relative;
}

.toolbar .social,
.toolbar .menu {
  padding-top: 16px;
}

.toolbar .social ul,
.toolbar .menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.toolbar .social li,
.toolbar .menu li {
  text-transform: uppercase;
  float: left;
  margin-right: 15px;
  font-size: 22px;
}

.toolbar a {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.toolbar .social {
  letter-spacing: 2px;
  position: absolute;
  right: 15px;
  top: 0;
}

.toolbar .social img {
  transform: translateY(-5px);
}

.megatron {
  width: 558px;
  height: 100px;
  background-color: #484848;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 2;
  border-color: #5e5e5e;
  border-style: solid;
  border-width: 0 4px;
}

.megatron:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background: #2f2f2f;
  bottom: -4px;
}

.megatron-content {
  padding: 15px;
}

.megatron .score {
  position: absolute;
  right: 15px;
  top: 35px;
  color: #a6e51c;
}

.megatron .score-label {
  position: absolute;
  right: 15px;
  top: 13px;
  color: #c8df97;
  font-size: 16px;
}

.avatar-chunk {
  position: absolute;
  left: 50%;
  line-height: 60px;
  color: #9ea8bf;
}

.rock-avatar {
  top: 190px;
  padding-left: 80px;
}

.dance-avatar {
  top: 870px;
  padding-right: 80px;
  left: auto;
  right: 50%;
}

.dance-avatar .avatar-icon {
  left: auto;
  right: 0;
}

.avatar-icon {
  background-color: #9ea8bf;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}

.bants-wrapper {
  background-color: #9ea8bf;
  position: absolute;
  width: 250px;
  height: 160px;
  display: none;
  color: white;
  font-size: 18px;
  padding: 10px;
}

.bants-wrapper.rock-bants {
  top: 450px;
  left: 10%;
}

.bants-wrapper.rock-bants:after {
  content: '';
  height: 0;
  border-style: solid;
  border-width: 0 0 30px 30px;
  border-color: transparent transparent #9ea8bf transparent;
  top: -30px;
  position: absolute;
  right: 30px;
}

.bants-wrapper.dance-bants {
  top: 550px;
  right: 10%;
}

.bants-wrapper.dance-bants:after {
  content: '';
  height: 0;
  border-style: solid;
  border-width: 30px 30px 0 0;
  border-color: #9ea8bf transparent transparent transparent;
  bottom: -30px;
  position: absolute;
  left: 30px;
}

.bants-wrapper.FM {
  background-image: url(../img/chesspieces/rockstars/freddie_sad_chess.png);
  background-position: center;
  background-repeat: no-repeat;
}

.bants-wrapper.DB {
  background-image: url(../img/chesspieces/rockstars/bowie_icon_chess.png);
  background-position: center;
  background-repeat: no-repeat;
}

.bants-wrapper.OH {
  background-image: url(../img/chesspieces/danceheroes/oliverheldens_icon_chess.png);
  background-position: center;
  background-repeat: no-repeat;
}

.bants-wrapper.Bjork {
  background-image: url(../img/chesspieces/danceheroes/bjork_icon_chess.png);
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes laserSwingRight {
   0% { transform: rotate(0) }
   25% { transform: rotate(45deg) }
   75% { transform: rotate(-45deg) }
   100% { transform: rotate(0) }
}

@keyframes laserSwingLeft {
   0% { transform: rotate(0) }
   25% { transform: rotate(-45deg) }
   75% { transform: rotate(45deg) }
   100% { transform: rotate(0) }
}

.laser {
  position: absolute;
  transform-origin: bottom center;
  pointer-events: none;
  opacity: 0.8;
}

.laser-right {
   -webkit-animation: laserSwingRight 2000ms infinite;
   animation: laserSwingRight 2000ms infinite;
   animation-timing-function: linear;
}

.laser-left {
   -webkit-animation: laserSwingLeft 2000ms infinite;
   animation: laserSwingLeft 2000ms infinite;
   animation-timing-function: linear;
}

.laser-1 {
  left: 50%;
  margin-left: -350px;
  top: 530px;
}

.laser-2 {
  left: 50%;
  margin-left: -195px;
  top: 540px;
}

.laser-3 {
  left: 50%;
  margin-left: -125px;
  top: 540px;
}

.laser-4 {
  left: 50%;
  margin-right: -28px;
  top: 540px;
}

.laser-5 {
  left: 50%;
  margin-right: 41px;
  top: 540px;
}

.laser-6 {
  left: 50%;
  margin-left: 195px;
  top: 530px;
}

.flapping-flag {
  position: absolute;
  margin-left: -60px;
}

.flapping-flag-1 {
  top: 360px;
  left: 50%;
  transform: translateX(-320px);
}

.flapping-flag-2 {
  top: 410px;
  left: 50%;
  transform: translateX(-390px);
}
.flapping-flag-3 {
  top: 360px;
  left: 50%;
  transform: translateX(335px);
}
.flapping-flag-4 {
  top: 410px;
  left: 50%;
  transform: translateX(405px);
}

@keyframes lightRedBlink {
  50% { opacity: 0 }
}

@keyframes lightPurpleBlink {
  10% { opacity: 1 }
  20% { opacity: 0 }
  70% { opacity: 1 }
  85% { opacity: 0 }
}

.rock-light {
  position: absolute;
  margin-left: -75px;
  left: 50%;
  pointer-events: none;
}

.light-red {
  animation: lightRedBlink 2000ms linear infinite;
}

.light-purple {
  opacity: 0;
  animation: lightPurpleBlink 6500ms linear infinite;
}

.light-1 {
  transform: translateX(-280px);
  top: 241px;
}

.light-2 {
  transform: translateX(-225px);
  top: 231px;
}

.light-3 {
  transform: translateX(-160px);
  top: 219px;
}

.light-4 {
  transform: translateX(-96px);
  top: 206px;
}

.light-5 {
  transform: translateX(-34px);
  top: 196px;
}

.light-6 {
  transform: translateX(34px);
  top: 196px;
}

.light-7 {
  transform: translateX(96px);
  top: 206px;
}

.light-8 {
  transform: translateX(160px);
  top: 219px;
}

.light-9 {
  transform: translateX(225px);
  top: 231px;
}

.light-10 {
  transform: translateX(280px);
  top: 241px;
}

.winningModal{
  position: fixed; /* or absolute */
  width:40%;
  height:40%;
  top: 30%;
  left: 30%;
  background:rgba(0,0,0,0.8);
}
.winningModal h1 {
  color:white;
}

.concedelink a{
  color:white;
}